
<video autoplay muted loop id="myVideo" oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="../../assets/video4.mp4" type="video/mp4"> 
    Your browser does not support HTML5 video.
</video>

<h1 class="title">Big Hero 6</h1>
<body>
  <p>Robotics prodigy Hiro (Ryan Potter) lives in the city of San Fransokyo. Next to his older brother, Tadashi, Hiro's closest companion is Baymax (Scott Adsit), 
    a robot whose sole purpose is to take care of people. 
    When a devastating turn of events throws Hiro into the middle of a dangerous plot, 
    he transforms Baymax and his other friends, Go Go Tamago (Jamie Chung), Wasabi (Damon Wayans Jr.), Honey Lemon (Genesis Rodriguez) and Fred (T.J. Miller) into a band of high-tech heroes.
  </p>

  <br>
  <a id="link" href='https://movies.disney.com/big-hero-6'><div tabindex="0" role="button" aria-pressed="false">Click here for the Official Site</div></a>
  <br>
      <p>
        Below are links to more extra content about Big Hero 6 <br>
        <a href="https://www.amazon.com/Big-Hero-Theatrical-Scott-Adsit/dp/B00TYB8YP4">Click here to watch on Amazon Prime! ($1.49 for a limited time)</a> <br>
        <a href="https://www.youtube.com/watch?v=z3biFxZIJOQ">Click here to watch the full trailer on YouTube!</a>
      </p>

</body>