 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100vh;
  min-height: 97vh;

  background-color: rgba(0,0,0,0.25);
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #myVideo { 
      width:auto;
      height: 100%;
  }
}

h1 {
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 80px
}

body {
  color: white;
  text-align: start;
  font-size: 30px;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #cc1b25;
}

/* mouse over link */
a:hover {
  color: darkred;
}
