<h1>Reviews for Big Hero 6</h1>

<body>
  <a class="link" href="https://www.empireonline.com/movies/reviews/big-hero-6-review/"><h2>After tragedy strikes for teen robo-tech prodigy Hiro (Potter), 
    he finds a new friend in plump medical droid Baymax (Adsit) — and a bemused partner in battling crime, too, 
    when a mysterious masked man begins wreaking havoc in Hiro’s home-metropolis of San Fransokyo.
  </h2></a>
  <img src="https://cdn.vox-cdn.com/thumbor/76VmDKMiwJ6V3XMBLxnkwz9pxGs=/62x0:1862x1350/1400x788/filters:focal(62x0:1862x1350):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/44274110/big-hero-6.0.0.jpg" alt="Picture of the main characters" style="display: block; margin-left: auto; margin-right: auto;">
  <p>by: <b>Dan Jolin</b> 22 May 2014</p>
  <p>As the first Walt Disney Animation Studios movie to draw directly from Marvel Comics’ rich history, Big Hero 6 is a thrillingly bright and energetic 
    superhero team origin adventure, brimming with all the high-velocity aerobatic action scenes and neat sci-fi trimmings we’ve come to expect from any 
    live-action Marvel Studios product. Yet its relationship with the Marvel title, a three-issue mini-series concerning a Japanese supergroup (originally 
    led by Silver Samurai, recently found in The Wolverine), doesn’t go far beyond filching character names and broadstrokes concepts.
    The film’s Marvelesque ‘catch the mystery villain’ central plot doesn’t kick in until halfway through, prompting a tech-driven supergroup formation 
    so speedy it makes Stark Industries look positively medieval. And while fun-for-the-kids in a Scooby-Doo-meets-Power-Rangers kinda way, it’s not nearly as 
    universally affecting as what lies at the story’s distinctly more-Disney heart: the relationship between 13 year-old whizzkid Hiro (Ryan Potter) and his 
    inherited “healthcare companion”, Baymax (Scott Adsit). The original Baymax was a “synthetic bodyguard” who could turn into a dragon. 
    The reinvention is a masterclass in character design. Edgeless, 
    rotund and balloony, the movie’s Baymax is the design sweet spot between a bouncy castle and an iPod. His minimalistic face is little more than an emoticon. 
    Couldn’t be simpler, couldn’t be more expressionistic. He walks in a dainty, tippy-toe manner that is both entirely appropriate to his airy girth and also endlessly appealing. 
    As voiced by Adsit, he has a soothing, affable demeanour that makes him instantly and permanently lovable.

    It’s in the burgeoning, Iron Giant-style friendship between Baymax and Hiro that we find Big Hero 6’s most humorous and heartwarming moments, 
    especially during the early stages of the film, as the guileless inflatable sidekick with the limitless medical knowledge proves entertainingly incongruous to high-stakes adventure.
    
    Later, Hiro forms the titular group, drawn from his science-nerd chums, pimping and weaponising their own inventions. 
    Baymax is squished into bright-scarlet battle armour and like Neo before him, he learns kung fu in an instant. 
    While there’s huge entertainment in the action scenes that follow, you can’t help feeling that something’s become a little bit lost in the mix. 
    It doesn’t help either that the villain’s motive is highly questionable, while the other members of Big Hero 6 are barely fleshed out beyond their evident merchandising appeal as action figures — with the noted exception of stoner dude Fred (T. J. Miller), whose drawling non sequiturs make him a crowd-pleaser.
    
    Directors Don Hall and Chris Williams, though, revel in their incidentally multicultural setting and the border-blurring hybrid city San Fransokyo 
    is a joyous blend of neon-washed alleyways and Miyazaki-referencing sky turbines, whirring high above the city’s streets. There is also, wedged somewhere in there, 
    a welcome message about the value of not-for-profit scientific research… Even if it does concern laser-blades, monster suits, nanotechnology and big, friendly balloon-bots.
    
    The Scooby-Doo-ish central plot is forgivable in a movie with so much visual verve, energetic action and a character so wondrously designed as Baymax.
  </p>
  
  <br>

  <a href="https://www.theguardian.com/film/2015/feb/01/big-hero-6-review-scott-adsit"><h3>Big Hero 6 review – enjoyable geek romp - The Guardian</h3></a>
  <p>by: <b>Mark Kermode</b> film critic <br> 1 Feb 2015</p>
  <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/1/29/1422533746305/big-hero-6-six-review-021.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=e05293249402f2f522dda29e8c35e1bc" alt="Picture of Hiro and Baymax" style="display: block; margin-left: auto; margin-right: auto;">
  <p>Having bagged their first best animated feature Oscar last year with Frozen, Walt Disney Animation Studios are back in the ring with this visually dazzling and very enjoyable geek romp which may well triumph over the likes of 
    How to Train Your Dragon 2 and The Boxtrolls on 22 February. Taking its lead from a lesser-known Marvel Comics title (Disney acquired parent company Marvel Entertainment in 2009), the action follows 14-year-old Hiro Hamada 
    as he cuts an adolescent swath through the streets of “San Fransokyo”, a sublime mash-up of America and Japan with future-retro designs to make a Blade Runner replicant weep. Encouraged by older brother Tadashi to stop small-time 
    bot-battling and enlist at a whizzo robotics lab, Hiro finds himself retooling huggable healthcare droid Baymax to do battle with a Kabuki-masked fiend, aided by a small but tightknit nerd army.

    While Baymax’s transformation from inflatable-latex squishiness to body-armoured warrior is delightful, the real treats here are in the incidental detail of this beautifully designed world. 
    A lovely thread of gentle slapstick runs through even the most explosive sequences, while Baymax’s Siri-like delivery provides deadpan counterpoint and Scott Adsit’s lyrical lilt lends delicious comedy 
    to phrases like “hairy baby”. An origins story ripe with innocence and loss, this anime-inflected treat harks back to Disney’s big-hearted heritage even as it looks forward towards new worlds of innovation.</p>
</body>